.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.label .requiredMark {
  color: red;
  margin-right: 3px;
}

.input svg {
  color: #a7a7a7;
}

.input svg:hover {
  color: #242424;
}
