.widget {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #5c94e8;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.widget b {
  margin-right: 5px;
}

.subTxt {
  font-size: 15px;
  font-style: italic;
  opacity: 0.8;
}
